@use "../styles/abstracts/colors" as *;

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;

  h1 {
    color: $color-bg-light;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    font-weight: bold;
    cursor: pointer;
    color: $color-bg-light;

    li {
      margin: 14px;
    }
  }
}

.light {
  background-color: $color-primary-light;
}

.dark {
  background-color: $color-primary-dark;
}
